html {
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 20% 25px 20%;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.navbar a:hover {
    transform: scale(1.1);
}
